.right-sidebar {
    width: 35rem;
    height: calc(100vh - 6rem);
    background-color: var(--theme-background-secondary);
    transition: transform 0.3s ease;
    transform: translateX(0%);
    overflow-y: auto;
}

.right-sidebar-open {
    transition: transform 0.3s ease;
    transform: translateX(100%);
} 

@media only screen and (max-width: 1050px) {
    .right-sidebar {
        width: 100vw;
    }

    .right-sidebar {
        position: absolute;
    }
    
    .right-sidebar-open {
        transform: translateX(0%);
    }
}