.inventory-container {
	width: 264px;
	height: 424px;
	border: 1px solid var(--theme-grey-o-400);
	transition: 0.2s ease;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 0.25rem;
	padding: 0.25rem;
}

.inventory-slot {
	border: 1px solid var(--theme-grey-o-400);
	width: 48px;
	height: 48px;
	position: relative;
}

.inventory-slot img {
	cursor: grab;
	padding: 4px;
}

.inventory-quantity {
	position: absolute;
	color: goldenrod;
	left: 1px;
	top: 33px;
	user-select: none;
}

.inventory-slot.drag-over {
	border: 2.5px solid goldenrod;
}
