.delete-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.delete-modal {
	background: var(--theme-blue-400);
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	max-width: 400px;
	width: 90%;
}

.delete-modal-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.modal-btn-confirm,
.modal-btn-cancel {
	padding: 1rem;
	transition: background-color 0.3s ease-in-out;
	border-radius: 10px;
}

.modal-btn-confirm {
	background-color: var(--theme-red-500);
}

.modal-btn-confirm:hover {
	background-color: var(--theme-red-400);
}

.modal-btn-cancel {
	background-color: var(--theme-green-500);
}

.modal-btn-cancel:hover {
	background-color: var(--theme-green-400);
}
