.left-sidebar-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.left-sidebar-content-container > p {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.chevron-down-sidebar,
.chevron-up-sidebar {
    width: 12px;
    height: 12px;
    color: var(--theme-grey-o-300);
}