.chat-box-overlay {
    position: fixed;
    bottom: 0;
    background-color: var(--theme-grey-o-900);
    z-index: 1;
    width: 100%;
    height: calc(25% + 36.38px);
    display: flex;
    flex-direction: column;
}

.chat-box-options-toolbar {
    width: 100%;
    height: 36.38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
}

.chat-box-close-overlay {
    height: 36.38px;
    width: 36.38px;
    position: relative;
    margin-left: auto;
    margin-right: 5px;
}

.chat-box-options-container {
    width: 100%;
    padding: 5px;
    overflow-y: auto;
}

.chat-box-options-container div {
    display: flex;
    border-bottom: 1px black solid;
}

.chat-box-options-container div:first-child {
    border-top: 1px black solid;
}

.chat-box-options-container div p {
    display: flex;
    align-items: center;
    width: 250px;
    border-right: 1px black solid;
}

.chat-box-options-container div div {
    flex-direction: column;
    border-bottom: none;
    margin-left: 5px;
    margin-top: 5px;
}

.chat-box-tab-container {
    width: 100%;
    height: 36.38px;
    min-height: 36.38px;
    position: fixed;
    bottom: 25%; /* Default */
    background-color: var(--theme-grey-900);
    display: flex;
    align-items: center;
}

.chat-box-tabs {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 88%; /* Adjust the max-width as needed */
    margin-right: auto; /* Push the tabs to the left */
    padding: 2px;
    margin-left: 4px;
}

.chat-box-tabs::-webkit-scrollbar {
    height: 6px;
}

.chat-box-tabs p {
    font-size: 1.3rem;
    padding-left: 8px;
    padding-right: 8px;
    user-select: none;
    border-right: 1px black solid;
}

.chat-box-tabs p:hover {
    cursor: pointer;
    color: aqua;
}

.chat-box-tabs p:last-child {
    border-right: none;
}

.chat-box-options-cog {
    height: 24px;
    width: 24px;
    min-width: 24px;
    cursor: pointer;
}

.chat-box-options-cog:hover {
    color: var(--theme-grey-o-500);
}

.chat-box-close {
    height: 36.38px;
    width: 36.38px;
    min-width: 36.38px;
    margin-left: 5px;
    position: relative;
}

.chat-box-close::before,
.chat-box-close::after,
.chat-box-close-overlay::before,
.chat-box-close-overlay::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-box-close::before,
.chat-box-close-overlay::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.chat-box-close::after,
.chat-box-close-overlay::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.chat-box-close:hover,
.chat-box-close-overlay:hover {
    cursor: pointer;
    background-color: var(--theme-grey-o-800);
}

.chat-box-container {
    width: 100%;
    height: 25%;
    min-height: 72px;
    max-height: 80%;
    background-color: var(--theme-grey-900);
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.chat-box-container:hover {
    overflow: visible; /* Show content overflow when hovered for better usability */
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.chat-box-container:active {
    overflow: auto; /* Reset overflow to auto when actively resizing */
}

.chat-box-resize-handle {
    width: 100%;
    height: 5px; /* Adjust the height of the resize handle as needed */
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    cursor: ns-resize; /* Show a vertical resize cursor */
}

.chat-box-message-region {
    height: 100%;
    border: 1px black solid;
    margin: 3px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-box-message-region::-webkit-scrollbar,
.chat-box-options-container::-webkit-scrollbar {
    width: 6px; /* Adjust the width as needed */
}

.chat-box-message-region p,
.chat-box-message-region span,
.chat-box-message-region p a {
    font-size: 1.2rem;
}

.chat-box-sender-username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.chat-box-message-region p a {
    color: var(--theme-blue-400);
}

.chat-box-message-region p a:hover {
    color: var(--theme-blue-300);
}

.chat-box-badges {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-bottom: 2.5px;
}

.chat-box-badges.forum-mod-badge {
    color: var(--theme-green-500);
}

.chat-box-badges.player-mod-badge {
    color: var(--theme-grey-300);
}

.chat-box-badges.admin-badge {
    color: var(--theme-blue-400);
}

.chat-box-badges.super-admin-badge {
    color: var(--theme-yellow-500);
}

.chat-box-input-container {
    display: flex;
    align-items: center;
    padding: 4px;
}

.chat-box-input-region {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 4px;
    width: 100%;
}

.chat-box-input-region input {
    flex: 1;
    border: none;
    outline: none;
}

.chat-box-input-region div {
    width: 30px;
    cursor: pointer;
    padding: 1.5px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-box-input-region div:hover {
    background-color: greenyellow;
}

.chat-box-container div b {
    font-size: 1.4rem;
    margin-right: 3px;
}

.hidden-chat-box {
    display: none;
}

.open-chat-box-button {
    position: fixed;
    bottom: 0;
    left: 0;
}
