.context-menu-main {
    position: absolute;
    width: 100%;
    z-index: 9999;
    background-color: #1a1a1a;
    max-width: 10rem;
    transform: translate(-50%, -14px);
    border-radius: 5px;
}

.context-menu-main p {
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.3rem;
    border-bottom: 1px solid black;
}

.context-menu-main p:last-child {
    border-bottom: 1px solid transparent;
}

.context-menu-main p:hover {
    background-color: #313338;
}

.context-menu-main p:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.context-menu-main p:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
