.character-container {
    width: 330px;
    border: 1px solid var(--theme-grey-o-400);
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipment-slot {
    width: 48px;
    height: 48px;
    border: 1px solid var(--theme-grey-o-400);
    margin: 4px;
    box-sizing: border-box;
}

#helmet {
    order: 1;
    margin-top: 16px; /* Adjust as needed */
}

#shoulders {
    order: 2;
}

#chest {
    order: 3;
}

#greaves {
    order: 4;
}

#boots {
    order: 5;
    margin-bottom: 16px; /* Adjust as needed */
}