.character-container {
    position: relative;
    width: 280px;
    border: 1px solid var(--theme-grey-o-400);
    /* Transition does not work */
    transition: 0.2s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.equipment-slot {
    width: 48px;
    height: 48px;
    border: 1px solid var(--theme-grey-o-400);
}

.character-container b {
    position: absolute;
    font-size: 1.4rem;
    top: 6px;
    left: 6px;
    padding: 2px;
    border: 1px solid var(--theme-grey-o-400);
    cursor: pointer;
}

.ammo-container {
    position: absolute;
    top: 6px;
    left: 226px;
}

.character-container div :not(:first-child) {
    margin-top: 15px;
    margin-bottom: 15px;
}